/*Styling*/
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.header {
    display: flex;
    background: #a22223;
    color: white;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

label {
    display: block;
    margin-bottom: 10px;
}

select {
    width: 200px;
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#flightResults {
    margin-top: 20px;
}

